<% provide(:title, "Courses") %>

<h1> <%= @courses.count %> Courses available ! </h1> 


	<% @courses.in_groups_of(3, false).each do |group| %>
	
	<br/>
	
		<div class="row">
			<% group.each do |course| %>

				   <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
				       		<%= image_tag course.image.url(:thumb), alt: course.title %>
					      		<div class="caption">
				       				<h3><%= course.title %></h3> 
						       		<p> <%= course.description %> </p>
							        <p><a href="<%= course_path(course.slug) %>" class="btn btn-primary" role="button">Take this course</a> </p>
						      	</div>
					    </div>
				  </div>

			<% end %>
		</div>
	<% end %>

