<!DOCTYPE html>
<html>
<head>
  <title>OnlinecoursesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Oneline Courses App</h1>

<%= render "layouts/partials/nav" %>

<%= yield %>

<%= render "layouts/partials/footer" %>


</body>
</html>
