<!DOCTYPE html>
<html>
<head>
  <title>OnlinecoursesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Oneline Courses App</h1>


<nav>
	<ul>
		
		<li><a href="<%= root_path %>">Home</a></li>
		<li><a href="<%= courses_path %>">Courses</a></li>
		<li><a href="<%= about_path %>">About</a></li>
	</ul>
</nav>


<%= yield %>

<hr/>

<footer>
	
	<p> Built by Crea'TICE - &copy : 2015 All Right Reserved</p>

</footer>



</body>
</html>
